WG_BIND_IP=127.0.0.1
TAKLITE_PUBLIC_HOST=127.0.0.1
TAKLITE_SERVER_HOST=127.0.0.1
TAKLITE_CONTAINER_USER=10001:10001
TAKLITE_AUTO_INIT_CERTS=true
TAKLITE_ADMIN_TOKEN=change-this-local-bootstrap-token
TAKLITE_CERT_PASSWORD=atakatak
TAKLITE_COT_HOST_PORT=58087
TAKLITE_COT_TLS_HOST_PORT=8089
TAKLITE_HTTP_HOST_PORT=8080
TAKLITE_HTTPS_HOST_PORT=8443
TAKLITE_WGDASHBOARD_URL=
TAKLITE_MAX_UPLOAD_BYTES=268435456
TAKLITE_COT_TLS_REQUIRE_CLIENT_CERT=true
TAKLITE_ALLOW_LEGACY_CLIENT_CERT=false
TAKLITE_ACCESS_CONTROL_ENFORCE=true
TAKLITE_LEGACY_CERT_DOWNLOADS=false
TAKLITE_SOCKET_SEND_TIMEOUT_SECONDS=2.5
TAKLITE_GUI_UPDATE_ENABLED=false
TAKLITE_GUI_UPDATE_COMMAND=
TAKLITE_GUI_UPDATE_WORKDIR=
TAKLITE_GUI_UPDATE_TIMEOUT_SECONDS=900
TAKLITE_GUI_UPDATE_REQUEST_DIR=
TAKLITE_SETTINGS_REQUEST_DIR=
TAKLITE_FIREWALL_REQUEST_DIR=
TAKLITE_WG_INTERFACE=
TAKLITE_PUBLIC_INTERFACE=
TAKLITE_WIREGUARD_PORT=
TAKLITE_WGDASHBOARD_PORT=
